
footer{
  width: 100%;
  background: linear-gradient(to bottom, blanchedalmond , #6d1d02 90%);
  color: #fff;
  padding: 50px 0 30px;
  font-size: 13px;
  line-height: 20px;
}
.rowf{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 25%;
  padding: 20px;
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
}
.footer_logo{
  width: 80px;
  position: relative;
  top: -23px;
  left: 10px;
}
.footer_about{
  position: relative;
  top: -20px;
  /* left: 10px; */
  font-size: 1.2vw;
  display: block;
  text-align: justify;
}
.mobile-hidden {
  display: inline; /* Display the span inline */
}
.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.footer_email {
  margin: 20px 0;
}

.footer_email a {
  width: fit-content;
  border-bottom: 1px solid #f66335;
  cursor: pointer;
  text-decoration: none;
  color: inherit; 
}

.footer_email a:hover {
  text-decoration: underline;
}
.col ul li{
  list-style: none;
  margin-bottom: 12px;
}
.col ul li a{
  text-decoration: none;
  color: #fff;
}
.col form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f66335;
  margin-bottom: 50px;
}
.col form .icon{
  font-size: 18px;
  margin-right: 10px;
}
.col form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
.col form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.col form button .icon_right{
  font-size: 16px;
  color: #ccc;
}
.col .social_icons .social_icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 28px;
  color: #fff;
  background: #f66335;
  margin-right: 3px;
  padding: 5px;
  cursor: pointer;
}
 
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
footer .copyright{
  text-align: center;
}
.bottom_line{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.bottom_line span{
  width: 15px;
  height: 100%;
  background: #f66335;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moveline 2s linear infinite;
}
@keyframes moveline{
  0%{
      left:-20px;
  }
  100%{
      left:100%;
  }
}
.nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  background-color:blanchedalmond;
  overflow: hidden;
  /* position: fixed;
  transition: 0.3s; */
}
.sidepanel{
  display: none;
}
.openbtn{
  display:  none;
}
.img {
  height: 10vh;
  width: 10vw;
  display: flex;
  padding-left: 2%;
}
.img img {  
  transition: transform 0.3s ease;
}
.img img:hover {
  transform: scale(1.1);
}
.child1 {
  display: flex;
  gap: 4vw;
  padding-left: 45%;
  font-weight: 600;
  font-size: 1.25vw;
}
button {
  font-size: 1.5vw;
  padding: 0.8vw 0.5vw;
  padding-left: 2vw;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.img2 {
  height: 5vh;
  width: 5vw;
  display: flex;
  padding-left: 8%;
}
.img2 img {  
  transition: transform 0.3s ease;
}
.img2 img:hover {
  transform: scale(1.1);
}

.child1 a {
  position: flex;
  transition: transform 0.3s ease;
}

.child1 a:hover {
  transform: scale(1.5);  
}

.button a {
  position: relative;  
  transition: transform 0.3s ease; 
}
.button a:hover {
  transform: scale(1.2);
}
.nav i {
  font-size: 5vw;
  font-weight: 800;
  display: none;
}
@media (max-width:600px){
  footer{
    width: 100%;
    /* height: 20%; */
    background: linear-gradient(to bottom, blanchedalmond , #6d1d02 90%);
    color: #fff;
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
  }
  .footer_logo{
    width: 90%;
    /* display: none; */
  }
  .footer_about{
    width: 235%;
    margin-right: -20px;
    font-size: 16px;
  }
  .mobile-hidden {
    display: none; /* Hide the span on mobile devices */
}
  .col h3{
    font-size: 3vw;
    margin-bottom: 10px;
  }
  .col-links{
    display: none;
  }
  .social_icons {
    display: flex;  
}

.social_icon {
    margin-right: 10px; /* Optional: Add space between icons */
}
.sidepanel {
  display: block;
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #111111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}
.sidepanel .button{
  margin-top: 20px;
  margin-left: 50px;
}
.sidepanel .button button{
  padding-right:21px;
  padding-left: 0px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color:black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.nav {
  display: none;
}
}
