*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    
}

.main {
    height: 100%;
    width: 100%;
}
.nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    background-color:blanchedalmond;
    overflow: hidden;
    /* position: fixed;
    transition: 0.3s; */
}
.sidepanel{
    display: none;
}
.openbtn{
    display:  none;
}
.sticky-icon{
    background-color: orange;
    color: #fff;
    width: 6vw;
    height: 12vh;
    border-radius: 50%;
    position:fixed;
    display: flex;
    top: 85%;
    left: 90%;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    animation: wave 3s infinite linear alternate;
}
@keyframes wave {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 51, 102, 0.7);
    }
    50% {
        box-shadow: 0 0 40px 30px rgba(255, 51, 102, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 51, 102, 0.7);
    }
}

.sticky-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-image: url('your-icon-image-url');
    background-size: cover;
}
.sticky-icon h1{
    margin-top: 3%;
    margin-left: 0%;
    font-size: 1.5rem;
}
.sticky-icon{
    transition: transform 0.3s ease;
}
.sticky-icon:hover{
    transform: scale(1.2);
}

 
.modal {
    display: none; 
    position: fixed;  
    z-index: 9999;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;  
    background-color: rgba(0,0,0,0.4); 
}
 
.modal-content {
    background-color: rgb(255, 236, 202);
    margin: 2% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);  
    }
    to {
        opacity: 1;
        transform: translateY(0);  
    }
}
.modal-content p {
    font-size: 4vw;
    text-align: center;
    color: orange;
}
.modal-content h2 {
    font-size: 5VW;
    margin-top: -5%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: zoomInUp 2s forwards;
}
@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: translateY(-100px) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.modal-content h3{
    font-size: 2vw;
    text-align: center;
    color: orange;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.video {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .video video {
    top: 0;
    margin-left: 50%;
    margin-top: 7%;
    margin-bottom: -20% ;
    width: 20%;
    height: 20%;
    transform: translate(-50%, -50%); /* Center the video horizontally and vertically */
    opacity: 0; 
    animation: fadeIn 10s forwards;
  }
  @keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* Fade in to opacity 1 */
    }
}
/* .res {
    display: none;
} */
.img {
    height: 10vh;
    width: 10vw;
    display: flex;
    padding-left: 2%;
}

.img img {  
    transition: transform 0.3s ease;
}
.img img:hover {
    transform: scale(1.1);
}
.child1 {
    display: flex;
    gap: 4vw;
    padding-left: 45%;
    font-weight: 600;
    font-size: 1.25vw;
}
 button {
    font-size: 1.5vw;
    padding: 0.8vw 0.5vw;
    padding-left: 2vw;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
 }
 .img2 {
    height: 5vh;
    width: 5vw;
    display: flex;
    padding-left: 8%;
 }
 .img2 img {  
    transition: transform 0.3s ease;
}
.img2 img:hover {
    transform: scale(1.1);
}

 .child1 a {
    position: flex;
    transition: transform 0.3s ease;
}

 .child1 a:hover {
    transform: scale(1.5);  
}

.button a {
    position: relative;  
    transition: transform 0.3s ease; 
}
.button a:hover {
    transform: scale(1.2);
}
.nav i {
    font-size: 5vw;
    font-weight: 800;
    display: none;
}
.content {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
}
.animated {
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 0px;
    margin-bottom: 0px;
    -webkit-animation-duration: 8s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.left{
    height: 100%;
    width: 62%;
    padding: 5vw 7vw;
    line-height: 3vw;
    background-color:blanchedalmond;
}
.boxlines{
    width: 40vw;
    height: 12vh;
}
.firstbox{ 
    width: 20%;
    height: 10%;
    margin-bottom: 2%;
    padding-left: 20%;
  }
.secondbox { 
    width: 20%;
    height: 2.5%;
    margin-right: 60%;
    padding-right: 25%;
    position: absolute;
  }
  .firstbox {
    background: linear-gradient(to right, saddlebrown  , orange 50%);
    left: 0;
  }
  
  .secondbox {
    background: linear-gradient(to right, orange 50% ,saddlebrown );
    right: 0;
  }
.left h1 {
    font-size: 6vw;
    color: orange;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.left h2{
    line-height: 10vw;
    font-size: 2.4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.left img {
    margin-left: 40%;
    height: 30%;
    width: 23%;
    filter: drop-shadow(15px 15px 15px black);
}
 
.right{
    height: 100%;
    width:60%; 
    background-color:blanchedalmond;  
}
.right img {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 8888;
    animation: anim 3s linear infinite;
    filter: drop-shadow(20px 20px 20px black);
}
@keyframes anim {
    0% {
        top: 0;
    }
    50% {
        top: -10px;
    }
    100%{
        top: 0;
    }
}
.bttn{
    font-size: 2vw;
    padding: 1.1vw 3vw;
    padding-left: 2.5vw;
    background:orange;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.bttn a {
    position: relative;  
    transition: transform 0.3s ease;
}
.bttn a:hover {
    transform: scale(1.2);
}
.centertext h1{
    font-size: 3vw;
    margin-left: 26%;
    margin-top: 5%;
    text-decoration:underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(227, 148, 2);
}
.centertext p{
    font-size: 1.7vw;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    line-height: 150%;
    display: block;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
@media (max-width:600px) {
    .sidepanel {
        display: block;
        height: 100%;
        width: 0; 
        position: fixed; 
        z-index: 3;
        top: 0;
        right: 0;
        background-color: #111111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.3s;
      }
      .sidepanel .button{
        margin-top: 20px;
        margin-left: 50px;
      }
      .sidepanel .button button{
        padding-right:21px;
        padding-left: 0px;
      }
      
      .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
      }
      
      .sidepanel a:hover {
        color: #f1f1f1;
      }
      
      .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      .openbtn {
        display: block;
        position: absolute;
        z-index: 2;
        right: 0;
        font-size: 30px;
        cursor: pointer;
        background-color: transparent;
        color:black;
        padding: 10px 15px;
        border: none;
      }
      
      .openbtn:hover {
        background-color: #444;
      }
      .sticky-icon{
        height: 16vw;
        width: 16vw;
        left: 80%;
      }
      .modal-content {
        margin: 60% auto;
      }
    /* .res{
        display: block;
        height: 100%;
        width: 0; 
        position:absolute; 
        top: -15px;
        left: 20px;
        padding-top: 30px;
    } */
    .nav {
        display: none;
    }
    .content {
        height: calc(100% - 60px);
        width: 100%;
        flex-direction: column;
        
    }
    .firstbox{ 
        width: 20%;
        height: 4%;
        margin-top: 50%;
        margin-bottom: 6%;
        margin-left: 30%;
        padding-left: 50%;
      }
    .secondbox { 
        width: 20%;
        height: 2.5%;
        margin-right: 55%;
        padding-right: 20%;
        position: absolute;
      }
    .left{
        width: 100%;
        padding: 0%;
        height: 30%;
         
    }
    .right{
        width: 100%;
        height: 40%;
         
    }

    .left h1{
        font-size: 10vw;
        padding-left: 12%;
        margin-top: -15%;
        line-height: 10vw;
    }
    .left h2 {
        font-size: 3.3vw;
        padding-left: 12%;

    }
    .bttn {
        margin-left: 11vw;
        padding: 2vw 6vw;
        font-size: 4vw;
    }
    .left img{
        position: absolute;
        margin-left: 70%;
        width: 20%;
        height: auto;
    }
    .right img{
        position: absolute;
        padding: 2vw;
        width: 100%;
        height: 45%;
        right: 0%;
        margin-top: 60%;

    }
    .centertext h1{
        font-size: 5vw;
        margin-left: 13%;
        margin-top: -11em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(227, 148, 2);
    }
    .centertext p{
        font-size: 2.5vw;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 2%;
        line-height: 150%;
        display: block;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
     
}
.fade {
    opacity: 1;
}

.nav {
    background-color: blanchedalmond;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
}
.left {
    background-color: blanchedalmond;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
}
.right {
    background-color: blanchedalmond;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
}

.container {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    
}




 




 
